/*---------------*/
/* Media Queries */
/*---------------*/

@media all and (min-width: $size-sm) {
    .nova-features {
        .nova-features-content {
            .icon-row {
                .nova-main-icon, .nova-icon-link, .nova-feature-column-content {
                    float: left;
                }
        
                .nova-feature-column-content {
                    width: 60%;
                    width: calc(100% - 90px);
                }
            }
        }
    }
}

@media all and (min-width: $size-md) {

    /* Header Size Ups */
    
    h1 {
        font-size: 48px;
        font-size: 4.8rem;
    }

    h2 {
        font-size: 30px;
        font-size: 3.0rem;
    }

    h3 {
        font-size: 25px;
        font-size: 2.5rem;
    }

    h4 {
        font-size: 20px;
        font-size: 2rem;
    }
    h5 {
        font-size: 18px;
        font-size: 1.8rem;
    }
    
    /* Border Image Padding Size Up */
 
    section {
        &.image-padding-top {
            padding-top: 180px;
        }

        &.image-padding-bottom {
            padding-bottom: 180px;
        }
    }

    .nova-header .header-content {
        max-height:none;
        height: 600px;
        height:calc(100vh - 75px);
    }
    
    /* Mobile to Desktop Menu */
    
    #dl-menu {
        display: none;
    }
    
    #nav-menu {
        display: block;
    }
    
    .owl-theme .owl-controls .owl-buttons div {
        display: block;
    }
    
    /* ? */
    
    .nova-cta {
        text-align: left;
        
        .nova-button {
            padding-left: 20px;
        }
    }
	body.home .nova-scroll {
	    bottom:95px;
	}
}

/* Wordpress Admin Bar Fix */

@media all and (min-width: 783px) {
    body.admin-bar { 
        section:first-child .nova-header-content:first-child {
            top: -32px;
        }
        #nav.nav-fixed {
            top: 32px;
        }
    }
    body.admin-bar:not(.home) #nav {
        top:32px;
    }
}

@media all and (min-width: $size-lg) {
    .footer-top .ahead {
        display:block;
    }
    .nova-button.side-button {
        display:block;
    }
    
    .nova-border-image {
        &:before, &:after {
            background-size:100% 188px;
            height:188px;
        }
    }
}

@media all and (min-width: $size-xl) {
}

/* Fallback for IE9 not supporting Flexbox */

@media all and (min-width: $size-md) {
    .nova-features-content, .nova-team-members-content {
        .md-span6:nth-child(2n+1) {
            clear: both;
        }
    }
}

@media all and (min-width: $size-lg) {
    .nova-features-content, .nova-team-members-content {
        .md-span6:nth-child(2n+1) {
            clear: none;
        }
        
        .lg-span3:nth-child(4n+1) {
            clear: both;
        }
        
        .lg-span4:nth-child(3n+1) {
            clear: both;
        }
    }
	
	
}



