//-----------//
// Variables //
//-----------//


$size-sm: 480px;
$size-md: 660px;
$size-lg: 850px;
$size-xl: 1024px;

$max-width: 1200px;

$font-family-proxima-nova: 'proxima-nova', sans-serif;

$hairline: 100;
$thin: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;

$light-gray: rgb(241,241,240);
$medium-gray: rgb(75,77,81);
$blue: #5B6B7B;