/*---------------------*/
/* Nova Header Section */
/*---------------------*/

.nova-header:first-child .header-content {
    padding-top:75px;
}

body.admin-bar .nova-header:first-child .header-content {
    padding-top:107px;
}

body.home .nova-header .row {
    padding-bottom:75px;
}

.nova-header {
    .row {
        max-width: 100%;
    }
    
    .header-content {
        //max-height: 600px;
        height:calc(100vh - 75px);
        width: 100%;
        padding-top:0;
        background-position: top;
        background-attachment: scroll;
        background-size: cover;
        text-align: center;
        display:flex;
        justify-content:center;
        
        .header-content-inner {
            z-index:25;
            padding:30px 30px 60px;
            @extend %page-max-width;
            position:relative;
        }
        .header-content-inner.vcenter {
            // @extend %vertical-center-fix;
            align-self: center;
        }
        .header-content-inner.vtop {
            align-self: flex-start;
            margin-top: 50px;
        }
        .header-content-inner.vbot {
            align-self: flex-end;
            margin-bottom: 50px;
        }
        
        &.background-fixed {
            background-attachment:fixed;
        }
    }
    
    .nova-header-text-background-white {
        background-color: rgba(#fff, 0.8);
        
        // Makes sure that even if the text wraps, the area still looks "padded"
        @include box-shadow(10px 0 0 rgba(#fff, 0.8), -10px 0 0 rgba(#fff, 0.8));
    }
        
    .nova-header-text-background-black {
        background-color: rgba(#000, 0.7);
        
        // Makes sure that even if the text wraps, the area still looks "padded"
        @include box-shadow(10px 0 0 rgba(#000, 0.7), -10px 0 0 rgba(#000, 0.7));
    }
        
    .nova-header-text-white {
        color: #fff;
    }
        
    .nova-header-text-black {
        color: #000;
    }
    
    .align-text-left {
        text-align: left;
    }
    
    .align-text-right {
        text-align: right;
    }
    
    .align-text-center {
        text-align: center;
    }
}

/* Owl Carousel styling */

.owl-theme {
    .owl-controls {
        .owl-page span {
            width: 50px;
            height: 10px;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            filter: Alpha(Opacity=100);
            opacity: 1;
        }
        
        .owl-buttons div {
            @include transition(all 0.4s ease);
            display: none;
            position: absolute;
            @extend %vertical-center-fix;
            margin: 0;
            background: transparent;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            //font-size: 50px;
            filter: Alpha(Opacity=70);
            opacity: 1.0;
            width:50px;
            height:50px;
            padding:0;
    
            &:hover {
                filter: Alpha(Opacity=100);
                opacity: 1;
            }

            &.owl-prev {
                left: 0;
                .arrow-left {
                    background:rgba(91,107,123, 1.0) url('../images/left_arrow.png') center center no-repeat;
                    background-size:90% auto;
                }
            }

            &.owl-next {
                right: 0;
                .arrow-right {
                    background:rgba(91,107,123, 1.0) url('../images/right_arrow.png') center center no-repeat;
                    background-size:90% auto;
                }
            }
            
            .arrow-left, .arrow-right {
                display:block;
                height:100%;
                width:100%;    
                padding:5px;
            }
            
            div {
                cursor: pointer;
            }
        }
        
        
    }
}