@import '_lib/_font-awesome.min';

@import '_global/_variables';
@import '_global/_mixins';
@import '_global/_global';
@import '_global/_utility';

body {
    line-height: 1;
}

#page_builder_options, .nova-pop-up-area, .toplevel_page_nova_settings {
    * {
        box-sizing: border-box;
    }
}

#postdivrich {
    display: none;
}

#page_builder_options {
    .inside {
        @import '_global/_text';
        
        h4 {
            text-align: center;
        }
    
        p {
            margin: 30px 0;
            font-size: 14px;
            font-size: 1.4rem;
            line-height: 1.3;
        }
        
        img[src=''] {
            display: none;
        }
    
        #nova-page-section-options {
            word-wrap: break-word;
        
            .general-options-area {
                text-align: left;
            }
            
            .nova-collapsable-menu {
                @extend %clearfix;
                margin: 0;
                padding: 5px;
                background-color: $light-gray;
                text-align: center;
                
                &.collapsed-state {
                    h5 {
                        visibility: visible;
                    }
                }
                
                .fa {
                    @include transition(all 0.4s ease);
                    display: block;
                    width: 30px;
                    height: 30px;
                    font-size: 24px;
                    line-height: 30px;
                    cursor: pointer;
                }
        
                .fa-chevron-down, .fa-chevron-up {
                    float: left;
                    color: $medium-gray;
                    
                    &:hover {
                        color: $dark-gray;
                    }
                }
                
                h5 {
                    visibility: hidden;
                    float: left;
                    width: calc(100% - 60px);
                    margin: 0;
                    padding: 0 5px;
                    font-size: 16px;
                    line-height: 30px;
                }
        
                .fa-close {
                    float: left;
                    background-color: $medium-gray;
                    border-radius: 50%;
                    color: #fff;
                    
                    &:hover {
                        background-color: $dark-gray;
                    }
                }
            }

            .nova-collapsable-content {
                display: none;

                &.show {
                    display: block;
                }
            }
        
            input, select, textarea {
                width: 100%;
                max-width: 100%;
            
                &[type='checkbox'] {
                    width: auto;
                }
            }
        
            small {
                font-size: 10px;
                font-size: 1rem;
            }
        
            .nova-section {
                @extend %page-max-width;
                margin-bottom: 30px;
                background-color: #f6f6f6;
                
                h3, > p {
                    text-align: center;
                }
            
                img {
                    margin: 10px auto 0 auto;
                }
                
                .columns-area {
                    @extend %display-flex;
                    @include flex-wrap(wrap);
                    
                    > .column {
                        @include flex(0, 1, auto);
                        border: solid 1px #ddd;
                        background-color: #f6f6f6;
                    }
                }
            
                .general-options-area, .columns-area {
                    padding: 10px;
                    
                    > .column {
                        margin-bottom: 10px;
                    
                        .column {
                            padding: 10px;
                        }
                    }
                }
            
                &.nova-features-area, &.nova-team-members-area {
                    text-align: center;
                }
            }
        }
    
        .choose-section-area, .nova-add-column-area {
            text-align: center;
        }
        
        .nova-add-column-area {
            padding: 15px;
        }
    }
    
    ::-webkit-input-placeholder {
        font-style: italic;
        color: #ddd;
    }

    :-moz-placeholder { /* Firefox 18- */
        font-style: italic;
        color: #ddd;  
    }

    ::-moz-placeholder {  /* Firefox 19+ */
        font-style: italic;
        color: #ddd;
    }

    :-ms-input-placeholder {  
        font-style: italic;
        color: #ddd; 
    }
}

.nova-field-tip-button {
    @include transform(scale(1.3));
    @include transition(all 0.4s ease);
    vertical-align: middle;
    margin-left: 3px;
    color: $medium-gray;
    cursor: pointer;
    
    &:hover {
        color: $dark-gray;
    }
}

.nova-field-tip-content {
    display: none;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 3px;
    background-color: $light-gray;
    font-size: 12px;
    font-size: 1.2rem;
    
    &.show {
        display: block;
    }
}

.nova-icon-preview {
    text-align: center;
    
    i {
        display: block;
        margin: 10px 0;
        font-size: 50px;
    }
}

.nova-icon-library {
    box-sizing: border-box;
    text-align: center;

    .nova-icon-library-inner {
        @extend %clearfix;
        max-height: 600px;
        overflow-y: scroll;
        padding: 30px;
        background-color: #fff;
    
        .icon-molecule {
            @include transition(all 0.4s ease);
            display: inline-block;
            margin: 5px;
            padding: 5px;
            border: solid 1px #ccc;
            cursor: pointer;
        
            &:hover {
                background-color: $light-gray;
            }
        }
    }
    
    hr {
        margin: 30px 0;
    }
}

#nova_icon_library, #nova_shortcode_forms {
    margin: 0;
    background: transparent;
    border: 0;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    
    > *:not(.inside) {
        display: none;
    }
    
    .inside {
        margin: 0;
        padding: 0;
    }
}
    
.nova-pop-up-area {
    position: fixed;
    z-index: 10000; /* z-index of sidebar is 9999 */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    overflow-y: scroll;
    width: 100%;
    padding: 100px 10%;
    background-color: rgba(#000, 0.5);
    
    &.show {
        display: block;
    }
    
    .nova-pop-up-controls {
        text-align: center;
        
        .button {
            height: auto;
            margin: 10px;
            padding: 5px 10px;
            font-size: 18px;
            font-size: 1.8rem;
            font-weight: bold;
            
            .fa {
                margin-left: 5px;
            }
        }
    }
    
    .nova-insert-shortcode-inner {
        max-width: 300px;
        margin: 0 auto;
        padding: 30px;
        background-color: #fff;
    }
}

/* Theme Options page */

.toplevel_page_nova_settings {
    .nova_settings_form_section {
        max-width: 1000px;
        margin: 15px 0;
        padding: 15px;
        background-color: #fff;
    }
    
    form {
        .row {
            margin: 0;
        }
        
        .column {
            padding-right: 15px;
        }
        
        h2 {
            margin-bottom: 15px;
        }
        
        h4, h5 {
            margin-bottom: 5px;
        }
        
        ul {
            list-style: disc;
            margin-left: 30px;
        }
        
        li {
            font-size: 13px;
        }
        
        hr {
            margin: 30px 0;
            border: 0;
            border-bottom: solid 1px $medium-gray;
        }
        
        img {
            max-width: 300px;
            margin: 15px 0;
            padding: 10px;
            background-color: #ccc;
            border: solid 1px #888;
        }
        
        .wp-color-result {
            height: auto;
        }
        
        input:not([type='submit']), select, textarea {
            width: 100%;
        }
        
        input {
            &[type='checkbox'], &[type='radio'], &[type='submit'], &[type='button'] {
                width: auto;
            }
        }
    }
}

#nova_settings_saved {
    margin-top: 15px;
    padding: 0 15px;
    background-color: darken($medium-gray, 15%);
    border: solid 1px #fff;
    color: #fff;
    
    h4 {
        margin: 10px auto;
    }
    
    a {
        color: #fff;
        
        &:hover {
            color: rgba(#fff, 0.75);
        }
    }
}

/* Color Picker */
.wp-picker-container {
    * {
        box-sizing: content-box !important;
    }
    
    input {
        width: auto !important;
    }
}