/*--------*/
/* Global */
/*--------*/

html {
    font-size: 62.5%;
}

iframe {
    display: block;
    max-width: 100%;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a img {
    border: 0;
}