/*-----------------------*/
/* Nova Features Section */
/*-----------------------*/

.nova-features {
    .nova-features-content {
        .nova-icon-link, .nova-main-icon {
            display: block;
            width: 60px;
            height: 60px;
            margin: 0 auto 30px auto;
            margin-bottom: 3rem;
        }
        
        .nova-main-icon {
            font-size: 36px;
            font-size: 3.6rem;
            line-height: 60px;
            text-align: center;
        }
        
        .nova-icon-link {
            text-decoration: none;
        }
        
        .icon-column {
            .column-inner {
                ul {
                    margin-left: 0;
                    padding: 0 10px;
                    list-style: none;
            
                    li {
                        padding: 10px 0;
                        padding: 1rem 0;
                        border-top: solid 1px $medium-gray;
                    
                        &:first-child {
                            border-top: 0;
                        }
                    }
                }
            
                ol {
                    text-align: left;
                }
            
                p, li {
                    font-size: 14px;
                    font-size: 1.4rem;
                    line-height: 1.75;
                }
            }
            
            &.has-button {
                .column-inner {
                    padding-bottom: 90px;
                }

                .nova-button {
                    position: absolute;
                    left: 15%;
                    bottom: 30px;
                    width: 70%;
                    margin: 0;
                    font-size: 16px;
                    font-size: 1.6rem;
                }
            }
        }
        
        .icon-row {
            @extend %clearfix;
        }
    }
}