/*--------*/
/* Global */
/*--------*/

html {
    // Allows for rems to size similar to px
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
    font: 16px / 1.5 $font-family-open-sans;
    font-size: 1.6rem;
    -webkit-font-smoothing: subpixel-antialiased;
}

main {
    display: block;
    
    > section {
        &:first-child {        
            &.nova-header {
                padding-top: 0;
            }
        }
    }
    
    ul, ol {
        margin-left: 30px;
    }
}

section {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    &.no-padding-top {
        padding-top: 0;
    }
    
    &.no-padding-bottom {
        padding-bottom: 0;
    }
    
    &.large-padding-top {
        padding-top: 60px;
    }
    
    &.large-padding-bottom {
        padding-bottom: 60px;
    }
}

iframe {
    display: block;
    max-width: 100%;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

a img {
    border: 0;
}