//-----------//
// Variables //
//-----------//

$size-sm: 480px;
$size-md: 700px;
$size-lg: 850px;
$size-xl: 1024px;

$max-width: 1200px;

$font-family-open-sans: 'escrow-banner-condensed', serif;

$hairline: 100;
$thin: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;

$light-gray: #f7f7f7;
$medium-gray: #aaa;
$gray:#2f2f2f;