//-----------//
// Variables //
//-----------//

$size-sm: 600px;
$size-md: 851px;
$size-lg: 1200px;
$size-xl: 1600px;

$max-width: 1200px;

$font-family-open-sans: 'Open Sans', sans-serif;

$light: 300;
$normal: 400;
$semibold: 600;
$bold: 700;
$extrabold: 800;

$light-gray: #eee;
$medium-gray: #aaa;
$dark-gray: #777;